body{
    margin: 0px;
}

section {
    display: flex;
    height: 600px;
    background-color: #dfd3c3;
}

.screen-left {
    display: flex;
    width: 60%;
    float: left;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}

.screen-right {
    display: flex;
    width: 40%;
    float: right;
    /* box-sizing: border-box; */
    position: relative;
}

.screen-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://avatars.githubusercontent.com/u/79679194?v=4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 50%;
    z-index: 1;
  }

.screen-right > * {
    position: relative;
    z-index: 2;
  }

footer{
    margin: 15px;
    padding: 10px;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
}

.text1{
    color: black;
    position: absolute;
    left: 10%;
    font-size: 1.3em;
    font-family: sans-serif;
    font-weight: 700;
}

.text2{
    color: black;
    /* position: absolute; */
    font-size: 4.2em;
    font-family: sans-serif;
    font-weight: 1000;
}


.hyper-image{
    width: 16px;
    height: auto;
    margin: 0px 0px 0px 60px; 
}


.btn {padding: 10px;}

label[for*="tab"]{
    display: inline-block;
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    width: 150px;
    /* height: 15px; */
    padding: 5px;
    background: #dfd3c3;
    border: 2px solid black;
    cursor: pointer;
    margin: 10px;
    border-radius: 0%;
}

input[type="radio"] {display: none;}
input[type="radio"] + label {display: inline-block; padding: 20px; background: #ccc; font-size: 14px; cursor: pointer;}
input[type="radio"]:checked + label {background: #aaa; color: #000;}

.conbox {width: 610px; height: 600px; background: #dfd3c3; margin: 0 auto; display: none; opacity: 0.8;}

input[id="tab01"]:checked ~ .con1{display: block;}
input[id="tab02"]:checked ~ .con2{display: block;}


input[id="tab01"]:checked ~ .btn > label[for="tab01"]{background: red;}
input[id="tab02"]:checked ~ .btn > label[for="tab02"]{background: red;}

/* input[id="tab01"]:checked ~ label[for="tab01"]{background: red;} */
/* input[id="tab02"]:checked ~ label[for="tab02"]{background: red;} */


