@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

/* 화면 틀 구성 ======================================================================================== */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

header {
    height: 7%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 83%;
    overflow: auto;
    /* background-color: gray; */
    position: relative; /* 박스가 절대 위치를 사용하기 위해 필요 */
}

/* Section에 배경 추가 가상요소(::before) 사용 시 구조를 무너뜨리지 않을 수 있음 */
section::before {
    height: 700px;                      /* 가상 요소의 높이와 넓이 != 이미지의 크기 */
    width: 700px;                   
    content: "";                        /* 가상 요소의 텍스트 콘텐츠는 비움 즉, 시각적 목적으로만 활용 */
    background-image: url(https://avatars.githubusercontent.com/u/79679194?v=4);
    background-size: cover;             /* 이미지가 가상 요소 크기에 맞게 조절 */
    background-position: center;        /* 이미지를 가상 요소의 가운데 맞춤*/
    background-repeat: no-repeat;       /* 이미지가 반복 되어 나타나지 않게 조정 */
    border-radius: 50%;                 /* 가상 요소의 모서리를 둥굴게 */
    opacity: 0.25;                      /* 가상 요소의 투명도 */
    position: absolute;                 /* 가상 요소의 위치를 다른 요소으로부터 독립적으로 배치 */
    top: 50%;                           /* 가상 요소를 부모 요소의 세로 중앙에 위치 (가상 요소의 왼쪽 위 모서리 기준인듯) */
    left: 50%;                          /* 가상 요소를 부모 요소의 가로 중앙에 위치 (가상 요소의 왼쪽 위 모서리 기준인듯) */
    transform: translate(-50%, -50%);   /*중앙에 맞추기 위해 이동 */
    z-index: 1;                         /* 가상 요소의 쌓임? 순서 */
    
}

/* Section에 모든 자식 요소들이 가상요소 위에 나타나도록 설정 */
section > * {
    position: relative;
    z-index: 2;
}

footer{
    display: flex;
    background-color: brown;
    flex-direction: column;
    height: 10%;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
}


/* Header 부분 =========================================================================== */
.header-btn {
    margin: 0 50px;                 /* margin: 바깥 여백 (all) (상하,좌우) (상, 좌우, 하) (상,우,하,좌) */
    padding: 0px;                   /* padding: 안쪽 여백 */
    cursor: pointer;                /* 마우스 올릴 시 포인트 변화 */
    background-color: white;
    border: none;
    font-size: 25px;
    font-weight: 600;
    color: black;
    
}

/* header-btn에 마우스 올렸을 시 변화 */
.header-btn:hover {
    text-decoration: underline;         /* 밑줄 추가 */
    text-decoration-color: red;       /* 밑줄 색상 */
    text-decoration-thickness: 5px;     /* 밑줄 두께 */
}

/* header-btn이 눌리는 순간의 변화 */
.header-btn:active {
    /* background-color:red; */
    transform: scale(0.90);
}




/* Section 부분 ======================================================================= */

/* Section 중 Header의 버튼을 누르면 나타나는 부분 */
.box {
    height: 100%;
    display: none;          /* 처음에 보이지 않게 설정 */
}
.box.active {
    display: block;         /* 활성화된 박스만 보이게 설정 */
}

/* .box1 {
    background-color: green;
}

.box2 {
    background-color: yellow;
} */


/* "Section - About me" ============================================================== */
/* Section 중 About me로 나타날 Box를 좌우로 구역 나누기 */
div.left{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

div.right{
    display: flex;
    flex-direction: column;
    background-color: white;
    /* position: absolute; */
    width: 50%;
    height: 100%;
    float: right;
    box-sizing: border-box;
}


/* Section - About me - div left ------------------------------*/
.introduction-box{
    /* display: flex; */
    position: absolute;
    width: 50%;
    height: 25%;
    margin: 10% 0 0 20%;
    /* padding: 0px; */
    /* background-color: red; */
    box-sizing: border-box;
}

.myimage-box{
    /* display: flex; */
    position: absolute;
    width: 30%;
    height: 25%;
    margin: 10% 0 0 70%;
    /* background-color: wheat; */
    box-sizing: border-box;
}

.info-table{
    position: absolute;
    width: 80%;
    height: 10%;
    margin: 32% 0 0 20%;
    padding: 20% 0;
    background-color: lightgray;
    text-align: center;
    table-layout: fixed;        /* 고정 레이아웃을 사용하여 셀 너비를 균등하게 분배 */
    border-collapse: collapse;  /* 테두리 겹침을 없애기 위해 collapse 설정 */
}

.info-box{
    /* display: flex; */
    position: absolute;
    width: 80%;
    height: 40%;
    margin: 45% 0 0 20%;
    /* background-color: white; */
    box-sizing: border-box;   
}


label[for*="tab"]{
    display: inline-block;
    width: 150px;
    height: 30px;
    margin: 0px;
    padding: 5px 3px;
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    color: black;
    border: 1px solid gray;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

input[type="radio"] {display: none;}
input[id*="tab"]:checked + label{background-color: darkred; color:white;}

.conbox {
    position: absolute; 
    width: 100%; 
    height: 100%;
    /* background: whitesmoke;  */
    /* margin: 100px 0 0 0;  */
    display: none; 
    /* z-index: ; */
}

input[id="tab1"]:checked ~ .con1{display: block;}
input[id="tab2"]:checked ~ .con2{display: block;}
input[id="tab3"]:checked ~ .con3{display: block;}


.info-grid-container {
    display: grid;
    /* border: 1px solid gray; */
    background-color: white;
    /* grid-template-columns: repeat(2, 1fr);  /* 1개의 동일한 너비의 그리드 열 생성 */ 
    grid-template-columns: 21% 79%;  
    /* grid-template-rows: repeat(5, 1fr);     /* 5개의 동일한 높이의 그리드 행 생성*/ 
    grid-auto-rows: 45px; 
    width: 100%;                            /* 그리드 레이아웃 너비를 부모 요소의 100% 사용 */
    height: 100%;                           /* 그리드 레이아웃 높이를 부모 요소의 100% 사용 */
    gap: 1px;                               /* 그리드 아이템 간 간격 */
    box-sizing: border-box;                 /* 패딩이 전체 크기에 포함되도록 설정 */
}

/* 그리드 각 아이템(칸)에 적용될 옵션 */
.info-grid-item {
    /* background-color: aqua; */
    border-bottom: 1px solid gray;             /* 경계를 추가 */
    display: flex;
    padding: 0 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 1000;
    color: black;
}

/* Section - About me - div right ------------------------------*/
/* 스파이더 차트를 담을 공간 */
.chart-container {
    position: absolute;
    width: 600px;
    height: 800px;
    /* top: 10%; */
    margin: 0 0 0 8%;
    padding: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid #000; */
    /* background-color: #f9f9f9; */
}


/* 이미지 칸 */
.image-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);  /* 1개의 동일한 너비의 그리드 열 생성 */ 
    grid-auto-rows: 150px; 
    gap: 10px;                               /* 그리드 아이템 간 간격 */
    margin: 5% 0;
    justify-content: center;
    box-sizing: border-box;                 /* 패딩이 전체 크기에 포함되도록 설정 */
}

/* 그리드 각 아이템(칸)에 적용될 옵션 */
.image-grid-item {
    /* background-color: aqua; */
    /* border-bottom: 1px solid gold;             /* 경계를 추가 */
    display: flex;
    align-items: center;
    text-align: center;
    /* color: black; */
}






/* "Section - Project" ============================================================== */
/* Box를 2x4 Grid 레이아웃을 담을 공간 만들기 */
.grid-container {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(4, 1fr);  /* 5개의 동일한 너비의 그리드 열 생성 */
    grid-template-rows: repeat(2, 1fr);     /* 2개의 동일한 높이의 그리드 행 생성*/
    width: 90%;                             /* 그리드 레이아웃 너비를 부모 요소의 100% 사용 */
    height: 90%;                            /* 그리드 레이아웃 높이를 부모 요소의 100% 사용 */
    column-gap: 20px;                       /* 그리드 아이템 간 간격 */
    row-gap: 0ps;
    padding: 20px 30px;                     /* 그리드 레이아웃 내의 내부 여백 */
    box-sizing: border-box;                 /* 패딩이 전체 크기에 포함되도록 설정 */
    overflow: hidden;                       /* 그리드 경계를 벗어나는 것을 방지 */
    margin: 0 0 0 5%;
}

/* 그리드 각 아이템(칸)에 적용될 옵션 */
.grid-item { 
    /* background-color: white;           배경색을 추가 */
    border: 5px solid gray;             /* 경계를 추가 */
    margin: 12% 0 0 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%; /* 그리드 아이템의 최대 너비를 그리드 셀 크기로 제한 */
    max-height: 100%; /* 그리드 아이템의 최대 높이를 그리드 셀 크기로 제한 */
    position: relative; /* 포지션을 relative로 설정하여 내부 요소의 절대 위치 설정 가능 */
    cursor: pointer;
}

.project-img{
    width: 100%; /* 이미지의 너비를 그리드 아이템의 너비에 맞춤 */
    height: 100%; /* 이미지의 높이를 그리드 아이템의 높이에 맞춤 */
    object-fit: cotain; /* 이미지가 그리드 아이템을 채우도록 설정, 비율이 맞지 않으면 잘림 */
    position: absolute; /* 이미지의 위치를 절대적으로 설정 */
    top: 0;
    left: 0;
}


/* Footer에 들어갈 이미지 ============================================================= */
.hyper-image{
    width: 40px;
    height: auto;
    margin: 0px 0px 0px 0px; 
}

.footer-font{
    font-size: 22px;
    font-weight: 700;
    color: white;
}



/* 특수 기능 ========================================================================= */

/* Box를 닫는 버튼 */
.close-btn{
    position: absolute; /* 절대 위치 */
    top: 5px;
    right: 90px;
    width: 70px;
    height: 70px;
    background-color: rgb(255, 255, 255, 0);
    /* color: darkgray; */
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;
    border: 1px solid rgb(255, 255, 255, 0);
    text-align: center;
    cursor: pointer;
}




h1{
    font-size: 50px;
    font-weight: 900;
    font-family: "Gothic A1", sans-serif;
    font-style: "Black";
    letter-spacing: 20px;
    line-height: 0.2;
}

h2{
    font-size: 30px;
    font-weight: 1000;
    
    letter-spacing: 2px;
}

h3{
    color: rgb(82, 81, 81);
}

/* 미디어 쿼리 */
@media (max-width: 768px) {
    .left, .right {
        float: none;
        width: 100%;
    }

    .image-grid-item, .grid-item {
        flex: 1 1 calc(50% - 10px);
    }

    header, footer {
        text-align: center;
    }

    .header-btn, .close-btn {
        width: 100%;
        box-sizing: border-box;
    }

    .footer-font {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .image-grid-item, .grid-item {
        flex: 1 1 100%;
    }

    .footer-font {
        font-size: 10px;
    }
}